In [43]:
import pandas as pd
from scipy import stats

### Data process

In [2]:
# Convert text competitive rating to numerical 
competitive_mapping = {
'Extremely uncompetitive': 1,
'Uncompetitive': 2,
'Somewhat uncompetitive': 3, 
'Neutral (neither competitive nor uncompetitive)':4,
'Somewhat competitive': 5,
'Competitive': 6,
'Extremely competitive': 7
}

In [3]:
groud_truth_gender = {
'letter1': 'Female',
'letter2': 'Female',
'letter3': 'Male',
'letter4': 'Male'
}

ground_truth_writer_gender = {
'letter1': 'Male',
'letter2': 'Male',
'letter3': 'Male',
'letter4': 'Male'
}

ground_truth_strength = {
'letter1': 'Strong',
'letter2': 'Weak',
'letter3': 'Strong',
'letter4': 'Weak'
}

In [5]:
df1 = pd.read_excel('Responses/letter1_female_strong.xlsx')  
df2 = pd.read_excel('Responses/letter2_female_weak.xlsx') 
df3 = pd.read_excel('Responses/letter3_male_strong.xlsx') 
df4 = pd.read_excel('Responses/letter4_male_weak.xlsx') 

df1['competitive_score'] = df1['competitiveness'].apply(lambda x: competitive_mapping[x])
df2['competitive_score'] = df2['competitiveness'].apply(lambda x: competitive_mapping[x])
df3['competitive_score'] = df3['competitiveness'].apply(lambda x: competitive_mapping[x])
df4['competitive_score'] = df4['competitiveness'].apply(lambda x: competitive_mapping[x])

### Candidate Gender Question Analysis

#### Remove invalid responses

In [6]:
# Remove responses where participants simply guessed the answer
invalid_index1 = [4,5,9]
df1_clean = df1.drop(invalid_index1)

invalid_index2 = [1, 5]
df2_clean = df2.drop(invalid_index2)

invalid_index3 = [2, 8, 12]
df3_clean = df3.drop(invalid_index3)

invalid_index4 = [1, 2, 3, 4, 5, 9, 10, 11, 12]
df4_clean = df4.drop(invalid_index4)

#### Accuracy of candidate gender question

In [7]:
def get_accuracy(df, column, ground_truth):
    ans = df[column].values.tolist()
    correct = 0
    for val in ans:
        if val == ground_truth:
            correct += 1
    # return correct, len(ans) - correct, correct / len(ans)
    return correct / len(ans)

In [8]:
print(get_accuracy(df1_clean, 'candidate_gender', groud_truth_gender['letter1']))
print(get_accuracy(df2_clean, 'candidate_gender', groud_truth_gender['letter2']))
print(get_accuracy(df3_clean, 'candidate_gender', groud_truth_gender['letter3']))
print(get_accuracy(df4_clean, 'candidate_gender', groud_truth_gender['letter4']))

0.2222222222222222
0.6363636363636364
0.5
0.5

#### Accuracy of letter writer gender question

In [9]:
print(get_accuracy(df1_clean, 'writer_gender', ground_truth_writer_gender['letter1']))
print(get_accuracy(df2_clean, 'writer_gender', ground_truth_writer_gender['letter2']))
print(get_accuracy(df3_clean, 'writer_gender', ground_truth_writer_gender['letter3']))
print(get_accuracy(df4_clean, 'writer_gender', ground_truth_writer_gender['letter4']))

0.6666666666666666
0.5454545454545454
0.7
0.5

### Competitiveness Ratings Analysis

#### Overall

In [18]:
df1[['competitive_score']].describe()

       competitive_score
count          12.000000
mean            5.000000
std             1.206045
min             3.000000
25%             4.750000
50%             5.000000
75%             6.000000
max             7.000000

In [21]:
df2[['competitive_score']].describe()

       competitive_score
count          13.000000
mean            5.769231
std             1.012739
min             3.000000
25%             6.000000
50%             6.000000
75%             6.000000
max             7.000000

In [22]:
df3[['competitive_score']].describe()

       competitive_score
count          13.000000
mean            5.692308
std             0.947331
min             4.000000
25%             5.000000
50%             6.000000
75%             6.000000
max             7.000000

In [23]:
df4[['competitive_score']].describe()

       competitive_score
count          13.000000
mean            4.923077
std             1.255756
min             3.000000
25%             4.000000
50%             5.000000
75%             6.000000
max             7.000000

#### Stratified by letter strength

In [37]:
df_female = pd.concat([df1,df2])
df_male = pd.concat([df3,df4])

In [44]:
# Stastical test
print(stats.ttest_ind(df_female['competitive_score'].values.tolist(),df_male['competitive_score'].values.tolist()))

Ttest_indResult(statistic=0.2849439253546586, pvalue=0.776888009294197)

In [38]:
df_female[['competitive_score']].describe()

       competitive_score
count          25.000000
mean            5.400000
std             1.154701
min             3.000000
25%             5.000000
50%             6.000000
75%             6.000000
max             7.000000

In [39]:
df_male[['competitive_score']].describe()

       competitive_score
count          26.000000
mean            5.307692
std             1.158248
min             3.000000
25%             4.250000
50%             6.000000
75%             6.000000
max             7.000000

#### Stratified by letter strength

In [40]:
df_weak = pd.concat([df2,df4])
df_strong = pd.concat([df1,df3])

In [45]:
# Stastical test
print(stats.ttest_ind(df_weak['competitive_score'].values.tolist(),df_strong['competitive_score'].values.tolist()))

Ttest_indResult(statistic=-0.04270701612904286, pvalue=0.9661086426613772)

In [41]:
df_strong[['competitive_score']].describe()

       competitive_score
count          25.000000
mean            5.360000
std             1.113553
min             3.000000
25%             5.000000
50%             6.000000
75%             6.000000
max             7.000000

In [42]:
df_weak[['competitive_score']].describe()

       competitive_score
count          26.000000
mean            5.346154
std             1.198075
min             3.000000
25%             5.000000
50%             6.000000
75%             6.000000
max             7.000000

#### Stratified by perceived gender

In [24]:
# letter 1
df1_female = df1_clean.loc[df1_clean['candidate_gender'] == 'Female']
df1_male = df1_clean.loc[df1_clean['candidate_gender'] == 'Male']

df1_female.describe()

,Age,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,2.000000,2.0,2.000000,2.000000,2.000000
mean,34.000000,50.0,40.000000,68.000000,4.000000
std,18.384776,0.0,14.142136,9.899495,1.414214
min,21.000000,50.0,30.000000,61.000000,3.000000
25%,27.500000,50.0,35.000000,64.500000,3.500000
50%,34.000000,50.0,40.000000,68.000000,4.000000
75%,40.500000,50.0,45.000000,71.500000,4.500000
max,47.000000,50.0,50.000000,75.000000,5.000000

In [27]:
df1_male.describe()

,Age,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,7.000000,7.000000,7.000000,7.000000,7.000000
mean,33.000000,58.571429,60.571429,75.714286,5.000000
std,13.063945,26.701168,31.447613,14.659630,1.290994
min,18.000000,10.000000,15.000000,60.000000,3.000000
25%,26.500000,50.000000,37.500000,65.000000,4.500000
50%,27.000000,60.000000,75.000000,70.000000,5.000000
75%,37.500000,72.000000,79.500000,85.000000,5.500000
max,58.000000,96.000000,100.000000,100.000000,7.000000

In [30]:
# letter 2
df2_female = df2_clean.loc[df2_clean['candidate_gender'] == 'Female']
df2_male = df2_clean.loc[df2_clean['candidate_gender'] == 'Male']

df2_female.describe()

,Age,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,7.000000,7.000000,7.000000,7.000000,7.00000
mean,32.142857,50.428571,49.142857,74.857143,6.00000
std,13.409307,22.515603,22.467967,11.422617,0.57735
min,18.000000,23.000000,15.000000,60.000000,5.00000
25%,22.500000,31.000000,37.000000,68.500000,6.00000
50%,27.000000,52.000000,55.000000,75.000000,6.00000
75%,41.000000,67.500000,65.000000,78.500000,6.00000
max,53.000000,81.000000,70.000000,95.000000,7.00000

In [31]:
df2_male.describe()

,Age,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,4.000000,4.000000,4.000000,4.000000,4.000000
mean,26.250000,55.000000,47.750000,76.000000,5.000000
std,6.751543,26.758176,26.209095,13.613719,1.414214
min,20.000000,20.000000,10.000000,63.000000,3.000000
25%,21.500000,42.500000,40.000000,69.000000,4.500000
50%,25.000000,59.000000,57.500000,73.000000,5.500000
75%,29.750000,71.500000,65.250000,80.000000,6.000000
max,35.000000,82.000000,66.000000,95.000000,6.000000

In [32]:
# letter 3
df3_female = df3_clean.loc[df3_clean['candidate_gender'] == 'Female']
df3_male = df3_clean.loc[df3_clean['candidate_gender'] == 'Male']

df3_female.describe()

,Age,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,5.000000,5.000000,5.000000,5.000000,5.000000
mean,74.200000,56.400000,69.600000,69.400000,5.600000
std,108.428317,15.323185,10.667708,9.607289,1.140175
min,21.000000,38.000000,59.000000,59.000000,4.000000
25%,24.000000,50.000000,61.000000,66.000000,5.000000
50%,25.000000,56.000000,68.000000,67.000000,6.000000
75%,33.000000,58.000000,75.000000,70.000000,6.000000
max,268.000000,80.000000,85.000000,85.000000,7.000000

In [33]:
df3_male.describe()

,Age,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,5.00000,5.000000,5.000000,5.000000,5.000000
mean,29.60000,41.000000,46.200000,79.400000,6.000000
std,4.27785,31.304952,35.031414,4.393177,0.707107
min,24.00000,10.000000,0.000000,75.000000,5.000000
25%,29.00000,20.000000,20.000000,75.000000,6.000000
50%,29.00000,35.000000,60.000000,80.000000,6.000000
75%,30.00000,50.000000,66.000000,82.000000,6.000000
max,36.00000,90.000000,85.000000,85.000000,7.000000

In [34]:
# letter 4
df4_female = df4_clean.loc[df4_clean['candidate_gender'] == 'Female']
df4_male = df4_clean.loc[df4_clean['candidate_gender'] == 'Male']

df4_female.describe()

,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,2.000000,2.000000,2.000000,2.000000
mean,55.000000,60.000000,92.500000,5.000000
std,7.071068,14.142136,10.606602,1.414214
min,50.000000,50.000000,85.000000,4.000000
25%,52.500000,55.000000,88.750000,4.500000
50%,55.000000,60.000000,92.500000,5.000000
75%,57.500000,65.000000,96.250000,5.500000
max,60.000000,70.000000,100.000000,6.000000

In [35]:
df4_male.describe()

,candidate_gender_confidence,writer_gender_confidence,competitiveness_confidence,competitive_score
count,2.000000,2.000000,2.000000,2.000000
mean,76.500000,76.500000,69.000000,5.000000
std,33.234019,33.234019,1.414214,1.414214
min,53.000000,53.000000,68.000000,4.000000
25%,64.750000,64.750000,68.500000,4.500000
50%,76.500000,76.500000,69.000000,5.000000
75%,88.250000,88.250000,69.500000,5.500000
max,100.000000,100.000000,70.000000,6.000000